<ul class="video-list">
  <video-list-entry videoData="$ctrl.videosData[0]"><h5><em>videoListEntry</em> component goes here</h5></video-list-entry>
  <video-list-entry videoData="$ctrl.videosData[1]"><h5><em>videoListEntry</em> component goes here</h5></video-list-entry>
  <video-list-entry videoData="$ctrl.videosData[2]"><h5><em>videoListEntry</em> component goes here</h5></video-list-entry>
  <video-list-entry videoData="$ctrl.videosData[3]"><h5><em>videoListEntry</em> component goes here</h5></video-list-entry>
  <video-list-entry videoData="$ctrl.videosData[4]"><h5><em>videoListEntry</em> component goes here</h5></video-list-entry>
</ul>
