<div class="video-player">
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="{{'https://www.youtube.com/embed/' + $ctrl.video.id.videoId}}" allowFullScreen></iframe>
  </div>
  <div class="video-player-details">
    <h3>{{$ctrl.video.snippet.title}}</h3>
    <div>Views: {{$ctrl.videoData.viewCount}}</div>
    <div>Likes: {{$ctrl.videoData.likeCount}}</div>
    <div>Dislikes: {{$ctrl.videoData.dislikeCount}}</div>
    <div>{{$ctrl.video.snippet.description}}</div>
  </div>
</div>
